<%= render "header" %>
  <div class="posts-info-main">
    <h2 class="posts-info-title">投稿する情報を編集</h2>
    <%= form_with model: @post, id: 'new_post', local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="img-upload">
      <div class="weight-bold-text">
        画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          画像を変更する場合は<br>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"post-image", onchange: "previewImage(this);" %>
        <div class="image-preview", id="previews"></div> <%# 画像を表示 %>
      </div>
    </div>
    <div class="new-posts">
      <div class="weight-bold-text">
        ジャンル
        <span class="indispensable">必須</span>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"post-genre"}) %>
      </div>
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"posts-text", id:"post-name", placeholder:"タイトル(必須 40文字まで)", maxlength:"40" %>
      <div class="posts-explain">
        <div class="weight-bold-text">
          タイトルの説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :text, class:"posts-info-text", id:"post-info", placeholder:"タイトルの説明(必須 1,000文字まで)" %>
      </div>
      <div class="btn-content">
        <% if user_signed_in? %>
          <% if current_user == @post.user %>
            <%# <%= link_to "編集する", post_path(@post), method: :get, class: "edit-btn" %>
            <%= f.submit "編集する", class: "edit-btn" %>
           <p class="or-text">or</p>
            <%= link_to "削除", post_path(@post), method: :delete, class:"delete-btn" %>
          <% end %>
        <% end %>
     </div>
    </div>
  </div>
<% end %>
<%= render "footer" %>